@import url('https://fonts.googleapis.com/css?family=Oswald');
/*font-family: 'Oswald', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato');
/*font-family: 'Lato', sans-serif;*/
@import "partials/article";
@import "partials/nav";
@import "partials/header";

@mixin no-text-decoration() {
  a {text-decoration: none;}
  a:hover {text-orientation: none;}
  a:visited {text-orientation: none;}
  a:focus {text-orientation: none;}
}

$light-grey: #818285;
$dark-grey: #3a3a3c;

body {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
  margin: 0;
  @include no-text-decoration();
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  padding: 30px;
}

.grey-container {
  width: 100%;
  background-color: $dark-grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.inner {
  margin: 0 auto;
}


