$orange: #f7941e;
$blood-orange: #f1592a;
$dark-orange: #b74326;

#title {
  position: relative;
}

#header {
  position: absolute;
  left: 145px;
  top: 0px;
  z-index: 1;
}

#header-bg {
  position: relative;
  top: 20px;
}

#side-btn {
  height: 30px;
  width: 30px;
  border: 1px solid $orange;
  font-size: 25px;
  color: $dark-orange;
  float: right;
}

#side-btn:hover {
  border: 1px solid $blood-orange;
  background-color: $blood-orange;
  color: white;
}