@import url('https://fonts.googleapis.com/css?family=Oswald');

$blood-orange: #f1592a;
$light-grey: #818285;
$dark-grey: #3a3a3c;

#nav {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: $light-grey;

  a {
    color: $light-grey;
  }
  a:hover {
    color: $blood-orange;
  }
}


